
@-webkit-keyframes scroll {
  0% {
      transform: translateX(1.5%);
      delay: .1s;
      transition: all .2s ease-in;
        }
          100% {
              transform: translateX(calc(-250px * 9.5));
                }
                }

                @keyframes scroll {
                  0% {
                      transform: translateX(1.5%);
                      delay: .1s;
                      transition: all .2s ease-in;
                        }
                          100% {
                              transform: translateX(calc(-250px * 9.5));
                                }
                                }
                                .slider {
                                  background: transparent;
                                    
                                      height: 100px;
                                        margin: auto;
                                          overflow: hidden;
                                            position: relative;
                                              width: auto;
                                              }
                                              .slider::before, .slider::after {
                                                background: linear-gradient(to right, green 0%, rgba(255, 255, 255, 0) 100%);
                                                  content: "";
                                                    height: 100px;
                                                      position: absolute;
                                                        width: 80px;
                                                          z-index: 2;
                                                          }
                                                          .slider::after {
                                                            right: 0;
                                                              top: 0;
                                                                transform: rotateZ(180deg);
                                                                }
                                                                .slider::before {
                                                                  left: 0;
                                                                    top: 0;
                                                                    }
                                                                    .slider .slide-track {
                                                                      -webkit-animation: scroll 40s linear infinite;
                                                                                animation: scroll 40s linear infinite;
                                                                                  display: flex;
                                                                                    width: calc(250px * 18);
                                                                                    }
                                                                                    .slider .slide {
                                                                                        height: 100px;
                                                                                        width: 250px;
                                                                                        margin: 8px;
                                                                                        
                                                                                        }
                                                                                    .slider .slide:first-child {
                                                                                          scroll-behavior: smooth;
                                                                                          left: 32px;
                                                                                          
                                                                                          -webkit-transition: left 4s ease-in;  
                                                                                          transition: left 4s ease-in;
                                                                                        
                                                                                        }