/* Recommended styles for Splitting */
.splitting .word,
.splitting .char {
    display: inline-block;
}

/* Psuedo-element chars */
.splitting .char {
    position: relative;
}

/**
 * Populate the psuedo elements with the character to allow for expanded effects
 * Set to `display: none` by default; just add `display: block` when you want
 * to use the psuedo elements
 */
.splitting .char::before,
.splitting .char::after {
    content: attr(data-char);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: inherit;
    -webkit-user-select: none;
    user-select: none;
}

/* Expanded CSS Variables */

.splitting {
    /* The center word index */
    --word-center: calc((var(--word-total) - 1) / 2);

    /* The center character index */
    --char-center: calc((var(--char-total) - 1) / 2);

    /* The center character index */
    --line-center: calc((var(--line-total) - 1) / 2);
}

.splitting .word {
    /* Pecent (0-1) of the word's position */
    --word-percent: calc(var(--word-index) / var(--word-total));

    /* Pecent (0-1) of the line's position */
    --line-percent: calc(var(--line-index) / var(--line-total));
}

.splitting .char {
    /* Percent (0-1) of the char's position */
    --char-percent: calc(var(--char-index) / var(--char-total));

    /* Offset from center, positive & negative */
    --char-offset: calc(var(--char-index) - var(--char-center));

    /* Absolute distance from center, only positive */
    --distance: calc((var(--char-offset) * var(--char-offset)) / var(--char-center));

    /* Distance from center where -1 is the far left, 0 is center, 1 is far right */
    --distance-sine: calc(var(--char-offset) / var(--char-center));

    /* Distance from center where 1 is far left/far right, 0 is center */
    --distance-percent: calc((var(--distance) / var(--char-center)));
}

/* Define logo animation  container */


@-webkit-keyframes scroll {
  0% {
      transform: translateX(0);
        }
          100% {
              transform: translateX(calc(-250px * 7));
                }
                }

                @keyframes scroll {
                  0% {
                      transform: translateX(0);
                        }
                          100% {
                              transform: translateX(calc(-250px * 7));
                                }
                                }
                                .slider {
                                  background: transparent;
                                    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
                                      height: 100px;
                                        margin:none;
                                          overflow: hidden;
                                            position: relative;
                                              width: 100%;
                                              }
                                              .slider::before, .slider::after {
                                                background: linear-gradient(to right, green 0%, rgba(255, 255, 255, 0) 100%);
                                                  content: "";
                                                    height: 100px;
                                                      position: absolute;
                                                        width: 150px;
                                                          z-index: 2;
                                                          }
                                                          .slider::after {
                                                            right: 0;
                                                              top: 0;
                                                                transform: rotateZ(180deg);
                                                                }
                                                                .slider::before {
                                                                  left: 0;
                                                                    top: 0;
                                                                    }
                                                                    .slider .slide-track {
                                                                      -webkit-animation: scroll 40s linear infinite;
                                                                                animation: scroll 40s linear infinite;
                                                                                  display: flex;
                                                                                    width: calc(250px * 14);
                                                                                    }
                                                                                    .slider .slide {
                                                                                      height: 100px;
                                                                                        width: 250px;
                                                                                        margin: auto;
                                                                                        }
*{transition: cubic-bezier(1, 0, 0, 1)}


  /*devicon*/
  
   
   .icon-container {
    animation: fadeIn 2s ease-in-out infinite alternate;
   }
   
   @keyframes fadeIn {
     0% {
       opacity: 0.2;
    }
     100% {
       opacity: 1;
    }
   }

  .icon-container2 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 1s;
  }
  .icon-container3 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 2s;
  }
  .icon-container4 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 3s;
  }
  .icon-container5 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 4s;
  }
  .icon-container6 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 5s;
  }
  .icon-container7 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 6s;
  }
  .icon-container8 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 7s;
  }
  .icon-container9 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 8s;
  }
  .icon-container10 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 9s;
  }
  .icon-container11 {
    animation: fadeIn 2s ease-in-out infinite alternate;
    animation-delay: 10s;
  }