

                        @mixin white-gradient {
                        	background: linear-gradient(to right,  right rgba(25,25,25,1) 0%,rgba(255,255,255,0) 100%);
                            }

                            $animationSpeed: 40s;

                            // Animation
                            @keyframes scroll {
                            	0% { transform: translateX(0); }
                                	100% { transform: translateX(calc(-250px * 7))}
                                    }


                                    // Styling
                                    .slider {
                                    	background: transparent;
                                        	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
                                            	height: 100px;
}